.root {
    -fx-background-color : #B3E5FC;
}
#title {
    -fx-text-fill   : #01579B;
    -fx-font-weight : bolder;
    -fx-font-size   : 34px;
}

#titlebackground {
    -fx-background-color : #E1F5FE;
}
#tabbackground {
    -fx-background-color : #B3E5FC;
}
.label {
    -fx-fill : #0277BD;
    -fx-font-weight : bolder;
    -fx-font-size   : 22px;
}

.tabpane {
    -fx-fill: #0277BD;
    -fx-font-weight: bolder;
    -fx-font-size: 22px;
    -fx-background-color: #B3E5FC;
}


.textarea {
    -fx-background-color: #E1F5FE;
    -fx-font-weight: bolder;
    -fx-font-size: 22px;
}

.button {
    -fx-background-color: #29B6F6;
    -fx-text-fill: #E1F5FE;
    -fx-font-weight: 900;
    
    -fx-font-weight: bolder;
    -fx-font-size: 22px;
}

.button:hover {
    -fx-background-color: #01579B;
}

#sendButton {
    -fx-font-size: 32px;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #29B6F6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #B3E5FC;
    -fx-focus-color: transparent; 
    -fx-border-width: 0;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #E1F5FE;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill   : #01579B;
    -fx-font-weight : bolder;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.chart-plot-background {
    -fx-background-color: #575758;
    -fx-foreground-color: white;
    -fx-stroke: white;
} 

.chart-legend-item-symbol {
    -fx-text-fill: #E1F5FE;
    -fx-font-weight: 900;
    
    -fx-font-weight: bolder;
    -fx-font-size: 22px;
}